body {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;

  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  font-size: 17px;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;

  width: 19vw;

  border: 1px solid #ccc;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px;
  overflow: hidden;
}

.title {
  background-color: #f5f4de;

  margin: 0;
  padding: 10px 0;

  text-align: center;
}

.title h1 {
  display: inline;
  font-size: 2.1rem;
}

.status {
  background-color: #8eeae4;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 10px;
}

.status__score,
.status__level {
  font-size: 1.1rem;
  font-weight: 600;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ff0000;
}

.question {
  background-color: #c6d6eb;

  padding: 40px 10px;

  text-align: center;
  font-size: 1.55rem;
}

.hypothesis {
  background-color: #e7c696;

  padding: 20px;

  text-align: center;
  font-size: 1.55rem;
  font-weight: 600;
}

.user-answer {
  background-color: #fbe4c8;
  padding: 23px 15px;

  display: flex;
  gap: 25%;
  flex-direction: row;
  justify-content: center;
}

.user-answer button {
  border: 1px solid #a1a1a1;
  border-radius: 8px;
}

button {
  cursor: pointer;
}

.user-answer img {
  width: 40px;
  height: 40px;
}

.gameover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;

  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100%;
  height: 100%;
}

.gameover-overlay h2 {
  background: #ff0000;
  padding: 10px 20px;

  border: 1px solid #ebc590;
  border-radius: 25px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.gameover-overlay button {
  background: #008002;
  padding: 10px 20px;

  border: 1px solid #ebc590;
  border-radius: 25px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 600;

  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

@media only screen and (max-width: 1550px) {
  .container {width: 22vw;}
}

@media only screen and (max-width: 1350px) {
  .container {width: 23vw;}
}

@media only screen and (max-width: 1250px) {
  .container {width: 24vw;}
}

@media only screen and (max-width: 1100px) {
  .container {width: 25vw;}
}

@media only screen and (max-width: 900px) {
  .container {width: 35vw;}
}

@media only screen and (max-width: 540px) {
  .container {width: 45vw;}
}

@media only screen and (max-width: 400px) {
  .container {width: 80vw;}
}